CREATE TABLE IF NOT EXISTS credit_report_history (
  id INT AUTO_INCREMENT PRIMARY KEY,
  client_id VARCHAR(255) NOT NULL,
  platform VARCHAR(255) NOT NULL,
  report_path VARCHAR(255),
  status VARCHAR(50) DEFAULT 'completed',
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);
